@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.admin-card{
    @apply w-full rounded-md px-4 py-2 grid grid-cols-12 bg-white gap-y-2;
}
.admin-button{
    @apply bg-lime-500 rounded-full px-4 py-2 text-white hover:bg-lime-600;
}
